 *{ padding:0px; margin:0px;}
 
 .popup{ width:40%; height:auto; min-height:300px; box-sizing: border-box;  position:absolute;
         -webkit-box-shadow:  1px 1px 20px 0px rgba(0,0,0,0.35);
-moz-box-shadow:  1px 1px 20px 0px rgba(0,0,0,0.35);
font-family:Verdana; 
box-shadow:  1px 1px 20px 0px rgba(0,0,0,0.35); padding:30px; 
         background:#edfbff; border:solid 3px #70c4eb;  left:0%; right:0%; margin:0 auto; margin-top:10%; border-radius:10px;  }
         
         
 .popup p{ margin-bottom:10px; margin-top:10px; font-family:Verdana; background:#c8eaf4; padding:5px;  border-radius:10px; }
         
 .popup h1{ font-size:22px; font-family:Verdana; color:#064f71;}
          
 .popup img{ vertical-align:middle; margin-right:10px;}
 
 .close_btn{ background:#fff; padding:5px;border-radius:10px;  position:absolute; right:30px; top:-15px;border:solid 3px #70c4eb;  }
         
         